@charset "utf-8";
/* CSS Document */
/* header*/
.wp{ width:1100px; margin:0px auto;}
.header{ height:115px; position:relative; z-index:3; background-color:#009049; margin:22px 0px 25px;}
.logo{ margin-top:-21px;}
.log{margin-top:1px;}
.nav{ background-color:#009049; width:1100px; height:40px;}
.nav li{ float:left; font-size:18px; color:#c8dace; background-color:#009049; height:40px; line-height:40px;}
.nav ul li a{ padding:0 26px;   display:inline-block; height:40px; line-height:40px; position:relative; z-index:2; color:#c8dace; margin-bottom:20px;  }
.nav ul li a:hover{ color:#FFF;}
.sear{ padding:10px 0px 18px;  height:36px; line-height:36px;}
.sear .sear_lef{ border:1px #CCCCCC solid; background:url(../images/icon-18.png) no-repeat 8px center; padding-left:36px; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; width:800px; margin:0px 8px;}
.sear .sear_rig{border:1px #CCCCCC solid; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; width:225px; margin:0px 8px;}
.sear .sear_rig .sear_pic{ border-left:1px #CCCCCC solid; text-align:center; width:45px; height:36px; background:url(../images/icon-1.png) no-repeat center center;}
/* content */
.all{ background-color:#f8f8f8; overflow: hidden;padding-bottom:103px; }
.alay{ background-color:#f8f8f8; overflow: hidden;}

.con_top{ margin:0px auto 28px; height:277px; }
.contop{ margin:16px auto 28px auto; padding-bottom:15px;}
.con_left,.con_right{ width:252px; border:1px #CCC solid; background-color:#ffffff;}
.con_middle{ width:564px; margin:0px 14px;}

.con_middle li{ height:277px; background-position: center center;background-repeat: no-repeat; position:relative; background-size: auto 277px;} 
.con_middle .hd li{ width:10px; height:10px; margin:0px 15px; border-radius:7.5px; -moz-border-radius:7.5px; -ms-border-radius:7.5px; -o-border-radius:7.5px; -webkit-border-radius:7.5px; background-color:#0ab151; float:left; position:relative;  left:45%; top:-10px; z-index:5; }
.con_left .pei{  border-bottom:1px #0e9be1 solid; margin:11px 5px; width:233px; height:20px; line-height:20px;padding-bottom:3px;}
.con_left .pei .bg{ background:url(../images/icon-17.png) no-repeat left center; padding-left:37px; font-size:18px; color:#22804a;}
.pei .bg a{color:#22804a;}
.con_left .pei,.train a:hover{ color:#333;}
 
.con_left .pei .lef{ background:url(../images/icon-15.png) no-repeat left center; padding-left:37px; font-size:18px; color:#22804a;}
.con_left .pei .lef a{color:#22804a;}
.con_left li{ margin:12px auto;overflow:hidden ;white-space: nowrap; text-overflow:ellipsis; padding-left:12px;  background:url(../images/01bb_07.png) no-repeat 3px center; font-size:12px; color:#010101; font-family:"宋体"; font-weight:700; }

.con_right span{ float:right; color:#666;}
.con_right li a{ display:block; float:left; width:143px;overflow:hidden ;white-space: nowrap; text-overflow:clip; }
.con_right .pei{  border-bottom:1px #0e9be1 solid; margin:11px 5px; width:233px; height:20px; line-height:20px; padding-bottom:3px;}
.con_right .pei,.find a:hover{ color:#333;}
.con_right .pei .lef a{color:#22804a;}
.pei .bg{ background:url(../images/icon-03.png) no-repeat left center; padding-left:37px; font-size:18px; color:#22804a;}
.con_right li{ margin:13px 0px;overflow:hidden ; padding-left:12px;  background:url(../images/01bb_07.png) no-repeat 5px center;font-size:12px; color:#010101; font-family:"宋体"; font-weight:700; }
.con_left dd{ border:1px #CCCCCC solid;  height:30px; float:left; margin:17px 3px 0px 10px; text-align:center; line-height:30px; padding:0px 25px; font-size:14px; color:#666666; font-family:"宋体"; border-radius:7.5px; -moz-border-radius:7.5px; -ms-border-radius:7.5px; -o-border-radius:7.5px; -webkit-border-radius:7.5px;background:url(../images/icon-14.png) no-repeat 13px center;}
.con_left .concat{ border:1px #CCC solid; text-align:center; margin:15px auto 45px auto; width:174px; padding:10px 0px; background:url(../images/icon-13.png) no-repeat 25px center; font-size:14px; color:#666666; font-family:"宋体"; border-radius:7.5px; -moz-border-radius:7.5px; -ms-border-radius:7.5px; -o-border-radius:7.5px; -webkit-border-radius:7.5px; position:relative; top:15px;}
.con_left .concat a:hover{ color:#333;}
.conmiddle{ width:433px; border:1px #CCCCCC solid; margin:0px 14px; background-color:#FFF;}
.conmiddle .dong{  border-bottom:1px #0e9be1 solid; margin:11px 5px;height:20px; line-height:20px; padding-bottom:3px;}
.conmiddle .dong .bg a{ color:#22804a;}

.conmiddle .dong .bg{ background:url(../images/icon-16.png) no-repeat left center; padding-left:37px; font-size:18px; color:#22804a;}
.conmiddle li{margin:12px auto;overflow:hidden ; padding-left:12px;  background:url(../images/01bb_07.png) no-repeat 3px center; font-size:12px; color:#010101; font-family:"宋体"; font-weight:700; }
.hmform ul li a span{
	display:block;
	width:88px;
	float:left;
	
	font-family:"宋体"; font-weight:600; 
}
.hmform ul li a:hover .hmform_sp{ color:#333;}
.hmform ul li a .hmform_sp{ 
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	width:330px;
	font-family:"宋体"; font-weight:600; 
	font-size: 12px;
}
.hmform ul li a .data{
	float:right;
	color:#9a9a9a;
}
.myStyle{ width:381px;  border:1px #CCCCCC solid; background-color:#FFF;}
.myStyle .dong{  border-bottom:1px #0e9be1 solid; margin:11px 5px;height:20px; line-height:20px; padding-bottom:3px;}
.myStyle .dong .bg{ background:url(../images/icon-2.png) no-repeat left center; padding-left:37px; font-size:18px; color:#22804a;}
.myStyle .dong .bg a{ color:#22804a;}
.myStyle li{margin:12px auto;overflow:hidden ; padding-left:12px;  background:url(../images/01bb_07.png) no-repeat 3px center; font-size:12px; color:#010101; font-family:"宋体"; font-weight:700; }
.myStyle .hmform ul li a span{
	display:block;
	width:88px;
	float:left;
}
.myStyle .hmform ul li a:hover .hmform_sp{ color:#333;}
.myStyle .hmform ul li a .hmform_sp{ 
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	width:277px;
	height:20px;
}
.myStyle .hmform ul li a .data{
	float:right;
}
.con_left .pei .post{background:url(../images/icon-11.png) no-repeat left center; padding-left:37px; font-size:18px; }
.con_left .pei .post a{ color:#22804a;}
.con_left .form input{ border:1px #CCCCCC solid;} 
.con_left .form label{ width:60px; display:block; float:left; margin-left:13px;}
.con_left .form .user{ margin:20px 0px 15px 0px; text-align:center;}
.con_left .form .user .rember{ margin-left:83px; float:left;} 
.con_left .form .btn .green{ width:60px; height:25px; display:block; background-color:#0ab151; color:#FFF;  border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
.con_left .form .btn{ width:140px; margin:0px auto; height:60px; text-align:center;padding:10px 0px 6px 56px;}
.conmiddle .dong .number{  background:url(../images/icon-12.png) no-repeat left center; padding-left:37px; font-size:18px; color:#22804a;}
.conmiddle .dong .number a{ color:#22804a;}
.myStyle .dong .rule{ background:url(../images/icon-4.png) no-repeat left center; padding-left:37px; font-size:18px; color:#22804a;}
.myStyle .dong .rule a{ color:#22804a;}
.clock ul li{ float:left; margin-right:12px;}
.clock ul li a img{ border:2px #CCCCCC solid;}
.tit{ border:1px #CCCCCC solid; margin:258px auto 52px auto;; overflow:hidden; background-color:#FFF;}
.tit .club{  border-bottom:2px #0e9be1 solid; margin:11px 5px;height:20px; line-height:20px; padding-bottom:5px;background:url(../images/icon-10.png) no-repeat left -3px; padding-left:37px; font-size:18px;}
.tit .club .xie a{color:#22804a;}
.tit .club .more{ font-size:14px;}
.clock{ margin:28px 45px; padding-left: 10px;}
.clock h2{ margin-top:6px; font-size:16px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.clock h2:hover{ color:#333;}
.prev{ position:relative; left:-34px; top:103px;}
.next{position:relative; right:-22px; top:109px;}
.phone{ margin-top:-30px;}
.ipnone{  border-bottom:1px #0e9be1 solid; margin:11px 0px;height:20px; line-height:20px; padding-bottom:5px; padding-left:37px; font-size:18px; width:200px; margin-left:6px;}
.ipnone img{ margin-left:-30px; margin-top:-6px;}
.ipnone span{ padding-left:16px; font-size:18px; color:#22804a; }
.floor{background:url(../images/首页i1_03.png) repeat-x; padding-top:18px;}
.floor ul li{ margin:7px 6px; font-weight:bold; color:#1b954f;}
.floor ul li:hover{ color:#333;}
.surrund{ width:253px; margin-right:10px; border:1px #CCCCCC solid; height:190px; background-color:#FFF; overflow:hidden;}
.erweima{ position:relative; top:-137px; right:7px;}
.second{ padding-top:4px; background-color:#FFF;}
.second dl dd{ float:left; width:97px; border:1px #CCCCCC solid; text-align:center; height:30px; line-height:30px; margin:0px 3px 16px 18px; background-color:#f8fbf9; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
.second dl dd a:hover{ color:#333;}
.tell{ border:1px #CCCCCC solid;text-align:center; height:30px; line-height:30px;width:97px; margin-left:75px;background-color:#f8fbf9; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
.tell a:hover{ color:#333;}
.yuan dt{border:1px #CCCCCC solid;text-align:center; height:30px; line-height:30px;width:205px; margin-left:23px;background-color:#f8fbf9; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; margin:0px auto 10px;}
.yuan{ padding-top:12px;}
.yuan dt a:hover{ color:#333;}
.side{ margin:0px 25px;}
.ding{ position:relative; right:-10px;}
.sou{ padding-top:7px; padding-left:7px;}
/* foot */
.big{ border-top:1px #CCCCCC solid;}
.foot{ margin:10px 90px;}
.foot ul li{ float:left; margin-top:30px; margin:20px 10px;}
.foot ul li a:hover{ color:#333;}
.lian{ width:480px; text-align:center; margin:0px auto; padding:25px auto; overflow: hidden;}
.lian span:hover{ color:#333;}
.address{ width:252px; margin:15px auto;}
.address:hover{color:#333; }
.copy:hover{color:#333; }
.copy{ width:670px; margin:15px auto; overflow:hidden; padding-bottom:30px;}
/* 02 */
.biao{ padding:0px 0px 17px 0px; }
.round{ width:253px; margin-right:10px; border:1px #CCCCCC solid; background-color:#FFF; overflow:hidden;}
.second_side dt{ border:1px #CCCCCC solid;text-align:center; height:30px; line-height:30px;width:205px; margin-left:23px;background-color:#f8fbf9; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; margin:0px auto 10px; background:url(../images/icon-14.png) no-repeat 13px center;}
.second_side{ padding-top:12px; padding-bottom:12px;}
.second_side dt a:hover{ color:#333;}
.kuang{border:1px #CCCCCC solid; padding-left:8px; width:810px; float:right;     padding-bottom: 45px; background-color:#FFF;}
.text h2{ font-size:18px; margin:10px auto;}
.text p{ text-indent:2em; line-height:30px;}
.text li{ float:left; margin-right:159px;}
.kuang li{ float:left; font-size:14px;}
.kuang li a:hover{ color:#333;}
.new{  border-bottom:1px #0e9be1 solid; margin:11px 0px;height:20px; line-height:20px; padding-bottom:5px;  font-size:18px;}
.distens{ margin-top:20px;border:1px #CCCCCC solid; overflow:hidden; padding:0px 5px; height:190px; background-color:#FFF;}
.myStyle1{ padding:18px 13px;}
.min{ margin:18px auto 13px auto;}
.min span a:hover{ color:#333;}

.add p{text-indent:2em; line-height:30px;}
.add li{ width:813px;  background:url(../images/01bb_07.png) no-repeat left center; padding-left:10px;}
.add li span{ display:block; width:88px; float:right; height:30px; line-height:30px; padding-right:6px;}
.add .sp{ width:713px; float:left; overflow:hidden; white-space: nowrap;text-overflow:ellipsis;}
.add .sp:hover{ color:#333;}
.fan{ padding-left:112px; padding-top:36px;}
.fan a{ display:block; float:left; width:30px; height:30px; background-color:#f3f2f2; margin:0px 8px; line-height:30px; text-align:center;}
.fan a:hover{ background-color:#3bc275;}
.fan .pre{display:block; float:left; width:60px; height:30px; background-color:#f3f2f2; margin:0px 10px; line-height:30px;}
.fan .nextv{display:block; float:left; width:60px; height:30px; background-color:#f3f2f2; margin:0px 10px; line-height:30px;}
.fan .hunder{ display:block; float:left; width:120px; height:30px; background-color:#f3f2f2; margin:0px -8px; line-height:30px; background-color:#FFF;}
.fan .sure{ display:block; float:left; width:60px; height:30px; background-color:#f3f2f2; margin:0px 8px; line-height:30px;}
.fan .black{  background-color:#FFF; border:1px #CCCCCC solid; display:block; float:left; width:30px; height:30px;  margin:0px 8px; line-height:30px; text-align:center;}
span .white{ background-color:#FFF; margin:0px -6px;}
.fan span{ display:block; float:left; width:3px; height:30px;  margin:0px 13px 0px 8px; line-height:30px; text-align: center;}
.gai{ margin-right:17px;}
.gai:hover{ color:#333;}
/* 02 */
.add p{ line-height:30px;}

.add{ padding-top:10px;}
/* 03 */
.adde{ padding-top:12px;}
.adde li{ margin:5px;}
.adde li h3{ margin:17px 103px; font-size:16px;}
.second_side dt:hover{ background-color:#3bc275;}
.second_side dt:hover a{  color:#FFF;}
.wen{ width:467px; margin:28px auto 0px auto;}
.wen h4{ font-size:28px; font-weight:bold; padding-left:83px;}
.wen h5{ font-size:18px;  padding-left:37px;}
.add h5{ font-size:18px;  padding-left:13px;}
.again li{ width:687px; padding-left:60px; font-weight:600; border-bottom:1px #CCCCCC solid; height:35px; line-height:35px; font-size:12px;}
.again .dog{ font-size:16px;}
/* 05*/
.photo{ margin-right:17px;}
.five li{ width:780px; margin-left:10px; border-bottom:1px #CCCCCC solid; height:35px; line-height:35px;}
.download{ padding-right:120px; font-size:12px; color:#acacac;}
/*08 */
.click{ width:148px; margin:18px auto;}
.picture1{ padding:0px 20px;}
.picture2{ margin:0px 3px;}
.picture0{ padding:0px 63px;}
.pict{   margin:12px -3px;}
.onclick{ width:106px; margin:37px auto;}
/*09*/
.menu_input input{ border:1px #CCCCCC solid; width:452px; height:30px;}
label{ width:157px; display:block; float:left; text-align:right;}
.menu_input{ margin:23px auto 15px 72px;}
.middle{ width:30px; margin:45px auto;    margin-right: 375px;}
.table{text-align:center; width: 758px;}
.numb1{ height:36px; background-color:#f9f9f9;}
.table td{ padding: 8px 28px;}
.numb2{ height:98px;} 
.border{ border:1px solid #CCC; margin-left:18px; width:759px; margin-top: 10px; }
/* 会员注册 */
.cat li{ float:left; margin:7px 5px 5px 0px;}
.butto{  border:1px #CCCCCC solid; background-color:#FFF; }
.btt{ border-bottom:1px #CCCCCC solid; height:33px; margin:0px 7px;}
.mor{ margin-left:13px; font-size:17px; line-height:30px;}
.style input{ border:1px solid #CCC; width:452px; height:30px; padding-right:7px;}
.style label{ display:block;width:80px; float:left; background:url(../images/003ba_03.png) no-repeat right center; padding-right: 7px; 
}
.style{  width:565px; margin:0px auto 22px auto;}
.other{ width:88px; height:33px; background-color:#3bc275; color:#FFF; text-align:center; line-height:33px; margin:36px 351px; display:block; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
.tht{ width:418px; height:33px; margin:0px auto 22px auto; padding-right: 149px;}
.tht input{ border:1px solid #CCC;  padding-right:7px; width:140px; height:30px;}
.tht label{ display:block;width:80px; float:left; background:url(../images/003ba_03.png) no-repeat right center; padding-right: 7px;}
.change{margin:23px auto 15px 72px;}
.change input{ width:88px; height:33px; background-color:#3bc275; color:#FFF; text-align:center; line-height:33px; margin:36px 158px; display:block; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}